<footer class="mw8 center pv2 ph3">
	<div class="mw6">
		<h3 class="f5 fw3">Contacto</h3>
		<a href="mailto:hola@ricardoerl.com">hola@ricardoerl.com</a>
		<ul class="list pl0 mv3">
			<li class="dib mr2-ns"><a href="https://github.com/{{ site.github }}" target="_blank">Github</a></li>
			<li class="dib mr2-ns"><a href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
			<li class="dib mr2-ns"><a href="https://medium.com/{{ site.medium }}" target="_blank">Medium</a></li>
			<li class="dib mr2-ns"><a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">Instagram</a></li>
		</ul>
	</div>
</footer>
