<footer>
	<div class="container">
		<div class="pv4 bt b--light-gray">
			<p class="mv0"></p>
			<a href="mailto:hola@ricardoerl.com" class="dim f1 black">hola@ricardoerl.com</a>
			<ul class="list pl0 mv3">
				<li class="dib mr2-ns"><a href="https://github.com/{{ site.github }}" target="_blank" class="link dim black">Github</a></li>
				<li class="dib mr2-ns"><a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="link dim black">Twitter</a></li>
				<li class="dib mr2-ns"><a href="https://medium.com/{{ site.medium }}" target="_blank" class="link dim black">Medium</a></li>
				<li class="dib mr2-ns"><a href="https://www.instagram.com/{{ site.instagram }}" target="_blank" class="link dim black">Instagram</a></li>
			</ul>
		</div>
	</div>
</footer>
