<header class="pv4">
	<div class="mw8 center ph3">
		<div class="cf">
			<div class="fl">
				<h1 class="f5 f4-ns mv0 mv1-ns"><a href="/" class="link dim black">{{ site.title }}</a></h1>
				<ul class="list pl0 mv0">
					<li class="db di-ns mr2-ns"><a href="/blog" class="link dim black">Blog</a></li>
					<li class="db di-ns mr2-ns"><a href="/proyectos" class="link dim black">Proyectos</a></li>
				</ul>
			</div>
			<div class="fr">
				<a href="{{ site.baseurl }}" class="db">
					<svg data-name="Layer 1" class="logo dim db" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
					  <title>logo</title>
					  <g>
					    <circle cx="150" cy="150" r="150" style="fill: #111"/>
					    <path d="M171,228.65l-27.1-52.76H128v52.76H86.34V71.35h59.53c33.88,0,62.92,11.62,62.92,50.82,0,22.51-10.16,37.27-25.41,45.5l34.12,61Z" transform="translate(-0.5 0)" style="fill: #fff"/>
					    <rect x="45.5" y="107" width="130" height="34" style="fill: #111"/>
					  </g>
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>
