<div class="mw6 center pv4 ph3">
	<header class="header">
		<a href="/" class="fixed-l left-0 link logo mr3 mh4-l bn">
			<svg class="logo__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
				<g>
					<circle cx="150" cy="150" r="150" style="fill: #FFF"/>
					<path d="M171,228.65l-27.1-52.76H128v52.76H86.34V71.35h59.53c33.88,0,62.92,11.62,62.92,50.82,0,22.51-10.16,37.27-25.41,45.5l34.12,61Z" transform="translate(-0.5 0)" style="fill: #111"/>
					<rect x="45.5" y="107" width="130" height="34" style="fill: #FFF"/>
				</g>
			</svg>
		</a>
		<ul class="list mv0 ph0">
			<li class="dn dib-ns mr3 mr4-l"><a href="/" class="link bn">About</a></li>
			<li class="dib mr3 mr4-l"><a href="/blog" class="link bn">Blog</a></li>
			<li class="dib mr3 mr4-l"><a href="https://twitter.com/ricardoerl" class="link bn">Twitter</a></li>
		</ul>
	</header>
</div>
