<header class="pv4">
	<div class="container">
		<div class="cf">
			<div class="fl">
				<h1 class="f4 mv0 mv1-ns"><a href="{{ site.baseurl }}" class="link dim black">{{ site.title }}</a></h1>
				<!-- <ul class="list pl0 mv0">
					<li class="db di-ns mr2-ns"><a href="#" class="dim black">Blog</a></li>
					<li class="db di-ns mr2-ns"><a href="#" class="dim black">Proyectos</a></li>
				</ul> -->
			</div>
			<div class="fr">
				<a href="{{ site.baseurl }}" class="db"><img src="{{ "/assets/images/logo_circle_black_white-black.png" | prepend: site.baseurl }}" class="logo dim db" alt="{{ site.title }}"></a>
			</div>
		</div>
	</div>
</header>
