@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './prism.css';
@import './prism-extended.css';
@import './markdown.css';

/* CSS variables */
:root {
  --color-primary: #fe5c43;
  --color-secondary: #2c223b;
  --color-secondary-alt: #41384e;
  --color-neutral: #fefdf3;
}

/* Custom */
html,
body {
  background-color: var(--color-neutral);
  color: var(--color-secondary);
  font-size: 18px;
}
