/**
 * Set up a decent box model on the root element
 */
html {
	font-size: 21px;
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

::selection {
  background: #111; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #111; /* Gecko Browsers */
  color: #fff;
}

body {
	line-height: 1.5;
	color: #111;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}

@media screen and (max-width: 48em) {
	html {
		font-size: 16px;
	}
}

// .container {
// 	max-width: 52em;
// 	margin-left: auto;
// 	margin-right: auto;
// 	padding-left: 1em;
// 	padding-right: 1em;
// }

/* Colors */
$black: #111;
$green: #2ecc40;

/* Helpers */
.black { color: $black; }
.green { color: $green; }

.sans { font-family: 'Roboto', sans-serif; }
.mono { font-family: 'Roboto Mono', monospace; }

/* Global styles */
.logo { height: 4.5em; }

